* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  background: linear-gradient(to bottom, rgb(8, 8, 88), rgb(18, 54, 18));
  color: white;
}

body {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  padding: 25px 0px;
}

.form-item {
  padding: 10px 0px;
  width: 50%;
}

input {
  width: 100%;
}

#submit-button {
  font-size: 1rem;
  color: white;
  padding: 5px 0px;
  border-radius: 10px;
  border: none;
  background-color: rgba(0, 0, 70, 0.5);
  margin: 10px 0px;
  width: 25%;
}

#submit-button:hover {
  background-color: limegreen;
  cursor: pointer;
}

/* invalid fields */
input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* error message styles */
.error {
  width: 100%;
  padding: 0;
  display: block;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
